.logo {
  clear: top;
  width: auto;
  background-color: #ffb157;
}

.menu {
  border-radius: 25px;
  margin: 12px;
  background-color: #ecdd02;
  width: 20vw;
  height: auto;
  float: left;
}
.contenido {
  margin: 5px;
  text-align: justify;
  width: 60vw;
  height: auto;
  float: left;
}
#contenedor {
  height: auto;
  width: auto;
}
.contenido > h2 {
  text-align: center;
}

footer {
  clear: both;
}
