.logo {
  clear: top;
  width: auto;
  background-color: #ffb157;
}

.menu {
  border-radius: 25px;
  background-color: #ecdd02;
  height: fit-content;
  width: 15%;
  float: left;
  margin: 1.1%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.contenido {
  text-align: justify;
  height: auto;
  width: 80%;
  display: inline-block;
}

#contenedor {
  display: inline;
}
.contenido > h2 {
  text-align: center;
}
