/* HTML and Body Styles */

html {
  background-color: #11b2ec;
  width: 95vw;
  height: 100vh;
}
body {
  color: rgb(151, 151, 151);
  background-color: #f1ebe4;
  font-family: Verdana, Geneva, sans-serif;
  width: fit-content;
  height: fit-content;
  margin: 5vh;
}

body > div > footer {
  clear: both;
  background-color: #2ecfb8;
  color: white;
  height: auto;
  width: auto;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

body > div > header {
  text-align: center;
}
.logo > header > img {
  border-radius: 18px;
  height: 18vh;
  width: 35vw;
}
.imagen {
  text-align: center;
}

.imagen > img {
  border-radius: 3vh;
  height: 25vh;
  width: 25vw;
}

#titulo {
  color: black;
  text-align: center;
}
b {
  font-size: 17px;
}
h1 {
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline overline;
}
h2 {
  font-size: 1.5em;
  color: rgb(91, 183, 219);
  text-align: center;
}

h3,
h4 {
  font-size: 1em;
  color: black;
}

h4 {
  text-align: center;
}

/*Formulario*/
#contacto {
  margin-left: 1vh;
  padding-left: 1vw;
}

.formu {
  margin-left: 5vw;
  width: 60%;
}
#contacto input[type="text"],
#contacto input[type="email"],
#contacto input[type="msg"],
#contacto textarea {
  width: 100%;
}

#contacto textarea {
  height: 10vh;
  max-width: 100%;
  resize: vertical;
}

#contacto button[type="submit"] {
  margin-top: 2vh;
  margin-bottom: 4vh;
  width: 100%;
  font-size: 15px;
}
/**/

/* Navigation Styles */

nav {
  font-size: 0.9em;
}

nav > ul {
  line-height: 2.1em;
  list-style-type: none;
  padding-left: 5px;
  text-align: center;
}

nav > ul > li > a:link,
nav > ul > li > a:visited {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: blue;
  text-decoration: underline;
  text-shadow: 1px 1px blue;
}

.contenido > section > article > ol > li > ol > li {
  clear: unset;
  list-style-type: square;
}
.contenido > section > article > ol > li {
  list-style-type: upper-roman;
}

/* Aside and Blockquote Styles */

.lateral > aside > p::before {
  content: open-quote;
  font-style: inherit;
  font-size: 1em;
  font-weight: bold;
}

.lateral > aside > p::after {
  content: close-quote;
  font-style: inherit;
  font-size: 1em;
  font-weight: bold;
}
