/* HTML and Body Styles */

html {
  background-color: #11b2ec;
  width: 100vw;
  height: 100vh;
}
body {
  color: rgb(151, 151, 151);
  background-color: #f1ebe4;
  font-family: Verdana, Geneva, sans-serif;
  width: auto;
  height: auto;
  margin: 5vh;
}

body > div > footer {
  background-color: #2ecfb8;
  color: white;
  height: 5vh;
  width: auto;
  font-family: Helvetica, sans-serif;
  text-align: center;
}

body > div > header {
  text-align: center;
}
.logo > header > img {
  border-radius: 18px;
  height: 18vh;
  width: 35vw;
}

#titulo {
  color: black;
  text-align: center;
}
b {
  font-size: 20px;
}
h1 {
  font-size: 1.5em;
  text-align: center;
}
h3 {
  font-size: 1em;
  color: black;
}

#formu {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
}

#formu > section > div + div {
  margin-top: 1em;
}

label {
  /* Para asegurarse que todos los labels tienen el mismo tamaño y están alineados correctamente */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* Para darle el mismo tamaño a todos los campos de texto */
  width: 300px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

textarea {
  /* Para alinear campos de texto multilínea con sus labels */
  vertical-align: top;
  /* Para dar suficiente espacio para escribir texto */
  height: 5em;
  /* Para permitir a los usuarios cambiar el tamaño de cualquier textarea verticalmente
      No funciona en todos los navegadores */
  resize: vertical;
}

.button {
  /* Para posicionar los botones a la misma posición que los campos de texto */
  padding-left: 175px;
}

/* Navigation Styles */

nav {
  font-size: 0.9em;
}

nav > ul {
  line-height: 2.1em;
  list-style-type: none;
  padding-left: 5px;
  text-align: center;
}

nav > ul > li > a:link,
nav > ul > li > a:visited {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

nav > ul > li > a:hover,
nav > ul > li > a:active {
  color: blue;
  text-decoration: underline;
  text-shadow: 1px 1px blue;
}

.contenido > section > article > ol > li > ol > li {
  clear: unset;
  list-style-type: square;
}
.contenido > section > article > ol > li {
  list-style-type: upper-roman;
}

/* Aside and Blockquote Styles */
aside {
  font-size: 0.8em;
}
aside blockquote {
  quotes: initial;
}
aside blockquote::before {
  content: open-quote;
  font-style: inherit;
  font-size: 1.6em;
  font-weight: bold;
}

aside blockquote::after {
  content: close-quote;
  font-style: inherit;
  font-size: 1.6em;
  font-weight: bold;
}
