.logo {
  clear: top;
  width: auto;
  background-color: #ffb157;
}

.menu {
  border-radius: 25px;
  margin: 10px;
  background-color: #ecdd02;
  width: 14%;
  height: fit-content;
  float: left;
  display: block;
}
.contenido {
  margin: 7px;
  text-align: justify;
  width: 50%;
  height: auto;
  display: block;
  float: left;
}
.lateral {
  margin-left: 25px;
  margin-top: 30px;
  text-align: justify;
  width: 25%;
  height: auto;
  display: block;
  float: left;
}
#contenedor {
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.contenido > h2 {
  text-align: center;
}

footer {
  clear: both;
}
