.logo {
  clear: top;
  width: auto;
  background-color: #ffb157;
}

.menu {
  border-radius: 25px;
  background-color: #ecdd02;
  height: fit-content;
  width: 15%;
  float: left;
  margin: 1.1%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lateral {
  text-align: justify;
  height: auto;
  width: 27%;
  float: right;
  font-size: small;
  padding: 1.5%;
}

.contenido {
  padding-left: 2%;
  text-align: justify;
  height: auto;
  width: 50%;
  display: inline-block;
}

#contenedor {
  height: fit-content;
  width: fit-content;
  margin: auto;
}
.contenido > h2 {
  text-align: center;
}

footer {
  clear: both;
}
